@use "variables" as *;
@use "mixin" as * ;
@use "sass:color";


.brandRepairs {
  max-width: 100%;
  height: auto;
  font-family: "TTLakes";
  font-size: 14px;
  background-color: #f8f8f8;
  padding: 16px 8px;

  h3 {
  @include scdHeading;
  width: 100%;
  margin: 8px 8px;
}
}

  .swiper {
    width: 100%;
     margin: 16px auto;
    
 .swiper-wrapper {
  margin: 16px;
  height: 170px;
    width: 100%;
    overflow: hidden;
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 5px;
    transition: all 0.3s ease;
  }

  .swiper-slide {
  max-width: 240px;
  min-width: 224px;
  height: 72px;
  margin: 10px 0px 0px 0px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: solid 1px #eaeaea;

  img {
  margin: 10px;
}
}
  }

button {
  border: none;
  padding: 10px;
  background: none;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  display: flex;
}

.hide {
  display: none;
}

@media (max-width: 768px) {
  .brandRepairs{
    max-width: 100%;
    margin: auto;
  }

  .swiper-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  button {
    display: flex;
  }
  .swiper {
    width: auto;
    height: 200px;
  }
}

