@use "variables" as *;
@use "mixin" as * ;
@use "sass:color";


.brandRepairs {
  max-width: 100%;
  height: auto;
  background-color: #f8f8f8;
  padding: 16px 8px;
  margin-bottom: 16px;

  h3 {
  @include scdHeading;
  width: 100%;
}

 .swiper {
    max-width: 100%;
     margin: 16px auto;
     height: 190px;

     &-wrapper {
  margin: 16px;
     width: 100% !important;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 5px;
    transition: all 0.3s ease;
  }
    

  &-slide {
  max-width: 240px;
  min-width: 224px;
  height: 72px;
  margin: 8px 0px 0px 0px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: solid 1px #eaeaea;

  img {
  margin: 10px;
}
}
  }


}

button {
  border: none;
  padding: 10px;
  background: none;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  display: flex;
}

.hide {
  display: none;
}

@media (max-width: 500px){
.brandRepairs {
  max-width: 100%;

  .swiper {
    width: 100%;
  margin-left: auto;
  margin-right: auto;

  &-wrapper {
    max-width: 500px;
    display: flex;
  }

  &-slide {
    margin: 8px;
  }

  &-slide img {
  margin: 10px;
}
}


button {
  border: none;
  padding: 10px;
  background: none;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  display: none;
}

.showbutton,
.hidebutton {
  display: none;
}

.hide {
  display: none;
}
}
}
  