@use "variables" as *;
@use "mixin" as * ;
@use "sass:color";

.equipment-repairs {
 max-width: 100%;
  height: auto;
  background-color: #f8f8f8;
  padding: 16px 8px;

  h3 {
    @include scdHeading;
    width: 100%;
}
  

.swiper {
max-width: 100%;
     margin: 16px auto;
     overflow: hidden;
 height: 180px;

    &-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 5px;
    transition: all 0.3s ease;
  margin: 8px;
     max-width: 100% !important;
  }

    &-slide.slides {
    max-width: 240px;
  height: 160px;
  margin: 10px 0px 16px 0px;
  font-size: 18px;
  background: #fff;
  display: flex;
  border-radius: 10px;
  border: solid 1px #eaeaea;
  position: relative;

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 8px 8px;
    position: absolute;
    top: 8px;
    left: 8px;
  }

  .icons {
      position: absolute;
      bottom: 8px;
      right: 8px;
  }
    }
  }

  button {
  border: none;
  padding: 10px;
  background: none;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  display: flex;

  &.hide {
  display: none;
}
}

 @media (max-width: 400px){
     .swiper {

max-width: 100%;
    margin: 4px auto;
    overflow: hidden;
    height: 220px;
     }     
    }
    }

   