@use "variables" as *;
@use "sass:color";

@mixin fonts {
@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: bold;
}
}

@mixin iconHover {
  transform: scale(1.1);
  cursor: pointer;
}

@mixin textHover {
  font-style: bold;
font-weight: 700;
text-shadow: 2px 4px 2px #00000040;
}

@mixin iconStyle {
  width: 40px;
  transition: all 0.3s ease;
}

@mixin scdHeading {
   font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 8px 8px;
  margin: 8px 0px;
  color: $primaryText;
  background: linear-gradient(to left, #fff, $bgColor); 
  border-top: solid 1px $secondaryColor;
}


$bgColor: #F8F8F8;
$primaryText: #7E7E82;
$secondaryText: #1B1C21;
$primaryColr: #FF3E79;
$secondaryColor: #41F6D7 ;