@use "variables" as *;
@use "mixin" as * ;
@use "sass:color";

.sidebar-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
 height: 100vh;
  background-color: #fff;
  max-width: 320px;
  // box-shadow:  0px 0px 24px 1px rgba(0,0,0,0.2);
  overflow-y: auto;

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px;
  margin-bottom: 16px;

  .logo-close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
}
}

.sidebar-menu{ 
  position: relative;
  display: flex;
  height: 100%;
  
  li {
  padding: 16px 0px;
  position: relative;

  &:active ::before {
    content: "";
  height: 40px;
  margin: 0px 16px 0px 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: solid $secondaryColor 5px;
  position: absolute; 
  left: 0;
  top: 5px;
}

  a {
  text-decoration: none;  
  color: $text;
  margin: 24px;
font-size: 16px;
font-weight: 500;

&:hover {
@include textHover;
}
}
}
}

.icons {
  @include iconStyle;

  &:hover {
  @include iconHover;
}
}


.side-menu-footer {
margin-top: auto;
  margin-left: 24px;

   p {
  margin-bottom: auto;
  font-weight: 500;

  &:last-of-type {
  font-size: 24px;
  font-weight: 700;
  margin-top: 16px;
}
}
}

.footer-icons {
  display: flex;
  gap: 16px;
  margin-bottom: 15px;

}

.language {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  padding: 24px 0px ;
  font-size: 14px;
  font-weight: 500;

  a {
  text-decoration: none;
  color: inherit;

  &:first-of-type {
    color: #7E7E82;
  }
}
}
