$bgColor: #F8F8F8;
$text: #1B1C21;
$primaryColr: #FF3E79;

@mixin iconHover {
 transform: scale(1.1);
  cursor: pointer;
}

@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  max-width: 100%;
   min-height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main";
  font-family: "TTLakes";
  color: $text;
  gap: 10px;
  background-color: $bgColor;

  .main-header {
  grid-area: header;
  display: grid;
  }

  .icons {
  width: 40px;
  transition: all 0.3s ease;

  &:hover {
  @include iconHover();
}
}
}

.main-section {
  grid-area: main;
}

.hero {
  grid-area: hero;
  border: none;
}


.first-header-group, .second-header-group, .third-header-group {
  display: none;
}
 

.large-screen-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  
  img {
  margin-left: 8px;
}
}

p {
  font-weight: 500;
}
}


h1 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 8px;

  &::before {
  content: "";
  height: 40px;
  border: solid 2px #41f6d7;
  margin: 0px 16px 0px 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
}


.side-menu-links {
    margin: 16px auto 16px 20px;
    display: flex;
    flex-wrap: wrap;
     gap: 16px;

     a {
    text-decoration: none;
    min-width: 248px;
    color: $text;
    border: solid 2px transparent;
    border-radius: 9px;
    padding: 5px;
    background-color: $bgColor;
    font-weight: 500;

    &:hover {
    color: #565656;
    border: solid 2px #41f6d7;
    background-color: #fff;
  }

  &::-webkit-scrollbar {
    width: 0px;}
  }
  }


article {
  display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 margin: auto;
 padding: 16px;

 p {
  font-size: 15px;
  font-weight: 400;
  width: 500px;
}
}

.readmore-cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
  width: 35px;
}
}


.image-container img {
 width: 450px;
}

h2 {
  color: #7e7e82;
  font-size: 16px;
  font-weight: 400;
margin: 16px 0px 16px 16px;
border-top: solid 1px #6ff7e0 ;
padding: 5px;
background: linear-gradient(to right, #F8F8F8, #FFFF);
}


.swiper, 
.swiper.mySwiper.brand-repair-swiper {
  height: 200px;
  overflow: hidden;
 padding: 16px;

 .swiper-wrapper {
     margin: 16px 0px 16px 0px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
   justify-content: space-between;
  justify-items: center;
  gap: 16px;
  }

 .swiper-slide {
  max-width: 240px;
  height: 72px;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: solid 1px #eaeaea;

  img {
  margin: 10px;
}
}
}

button {
  border: none;
  padding: 10px;
  background: none;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  display: flex;
}

.showbutton,
.hidebutton {
  display: none;
}

.hide, .hide-second-button.second-hide {
  display: none;
   transition: height 0.5s ease;
}


.sidebar {
  grid-column: 1;
  grid-row: 2;
   grid-area: sidebar;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
 height: 100vh;
  background-color: #fff;
  max-width: 320px;
  // box-shadow:  0px 0px 24px 1px rgba(0,0,0,0.25);
  overflow-y: auto;

  .side-bar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px;
  margin-bottom: 16px;
}
}

.logo-close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.side-bar-menu {
 position: relative;
  display: flex;
  height: 100%;

  li {
  padding: 16px 0px;
  list-style: none;
  position: relative;

  &:active ::before {
    content: "";
  height: 40px;
  margin: 0px 16px 0px 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: solid #41F6D7 5px;
  position: absolute;
  left: 0;
  top: 5px;
}
}

a {
  text-decoration: none;  
  color: #1B1C21;
  margin: 24px;
font-size: 16px;
font-weight: 500;
transition: all 0.3s ease;

&:hover{
font-style: bold;
font-weight: 700;
text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
}}

}


.side-menu-footer {
margin-top: auto;
  margin-left: 24px;

  p {
  margin-bottom: auto;
  font-weight: 500;

  &:last-of-type {
  font-size: 24px;
  font-weight: 700;
}
}

  .footer-icons {
  display: flex;
  gap: 16px;
  margin-bottom: 15px;
}
}

.language {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  padding: 24px 0px ;
  font-size: 14px;
  font-weight: 500;

  a:first-child{
    color:  #98999a;
  }

  a {
  text-decoration: none;
  color: inherit;
  
  // &:visited {
  //   color: #454649;
  // }
}
}


.active {
  width: 5px;
  height: 40px;
  background-color:#41F6D7 ;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
}

 .swiper-wrapper.brand-repair{
.slides {
  width: 240px;
  height: 160px;
  background: #fff;
  border-radius: 10px;
  border: solid 1px #eaeaea;
  position: relative;}

  p {
   margin: 16px;
  }
  img {
    height: 40px;
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
 }

 .table-head {
display: grid;
grid-template-columns: repeat(6, 1fr);
  margin-left: 14px;
  padding: 8px;
  justify-content: left;

  p:first-child {
    grid-column: 1/4;
  }

  p {
    color: #7e7e82;

  }
 }

 .table {
  background-color: #fff;
  padding: 0px 20px;
  margin: 0px auto auto 1px;
  border-radius: 10px;

  .table-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    // display: flex;
    padding: 16px;
    border-bottom: solid 1px #ddd;
    align-items: center;

    .large-grid {
      grid-column: 1/4;
    }
    p {
      text-align: left;
    }

    div {
      display: flex;
      justify-content: center;
      background-color: $primaryColr;
      width: 119px;
      height: 32px;
      border-radius: 16px;
      align-items: center;
      transition: all 0.3s ease;

      &:hover {
@include iconHover();
      }

      button {
        color: #fff;
      }

      img {
        width: 24px;
      }
    }
  }
 }
  

   

  
 
 


  
  

  